<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>找回密码</ion-title>
  </ion-navbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>

</ion-header>


<ion-content no-padding>
  <div>
    <ion-slides #registerSlides>
      <ion-slide>
        <h1>步骤1</h1>
        <form #FPForm1="ngForm">
          <ion-list>
            <ion-item>
              <ion-label floating>
                请输入您的邮箱或手机号码
              </ion-label>
              <ion-input type="string" [(ngModel)]="fp.username" name="username" required #username="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="username.invalid && username.touched">
              <p [hidden]="!username.errors?.required">请输入邮箱或手机号</p>
            </ion-item>
          </ion-list>
          <div padding>
            <button type="submit" ion-button block color="primary" (click)="id()" [disabled]="FPForm1.invalid">下一步</button>
          </div>
        </form>
      </ion-slide>
      <ion-slide>
        <h1>步骤2</h1>
        <form #FPForm2="ngForm">
          <ion-grid>
            <ion-row>
              <ion-input name="code" type="number" placeholder="请输入收到的验证码" required pattern="^\\d{4}$" [(ngModel)]="fp.code" #code="ngModel"></ion-input>
              <button type="submit" ion-button color="primary" [disabled]="sent" (click)="send1()">{{button}}
              </button>
            </ion-row>
          </ion-grid>
          <ion-item *ngIf="code.invalid && code.touched">
            <p [hidden]="!code.errors?.required">请输入验证码</p>
            <p [hidden]="!code.errors?.pattern">您输入的验证码格式不正确</p>
          </ion-item>
          <div padding>
            <button type="submit" ion-button block color="primary" (click)="previous()">上一步</button>
            <button type="submit" ion-button block color="primary" (click)="validateCode()" [disabled]="FPForm2.invalid">下一步</button>
          </div>
        </form>
      </ion-slide>
      <ion-slide>
        <h1>步骤3</h1>
        <form #FPForm3="ngForm">
          <ion-input name="password" type="password" placeholder="请输入登录密码"required pattern="^(?=.{6,16})[0-9A-Za-z]*[^0-9A-Za-z][0-9A-Za-z]*$" [(ngModel)]="fp.password" #password="ngModel"></ion-input>
          <ion-item *ngIf="password.invalid && password.touched">
            <p [hidden]="!password.errors?.required">请输入登录密码</p>
            <p [hidden]="!password.errors?.pattern">您输入的密码格式不正确，长度应为6至16位，至少包含数字、英文、符号三种字符类型中的两种</p>
          </ion-item>
          <ion-input name="confirmPassword" type="password" placeholder="请输入确认密码"required [(ngModel)]="fp.confirmPassword" #confirmPassword="ngModel"></ion-input>
          <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched">
            <p [hidden]="!confirmPassword.errors?.required">请输入确认密码</p>
            <p [hidden]="password!=confirmPassword">两次输入的密码不一致</p>
          </ion-item>
          <div padding>
            <button type="submit" ion-button block color="primary" (click)="previous()">上一步</button>
            <button type="submit" ion-button block color="primary" (click)="store()" [disabled]="FPForm3.invalid">完成</button>
          </div>
        </form>
      </ion-slide>
      <ion-slide>
        <h1>修改密码成功</h1>
        <form #FP4="ngForm">
          <button type="submit" ion-button block color="primary" (click)="gotoLogin()">登录</button>
        </form>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<copyright [bottom]="'50px'"></copyright>
