<!--
  Generated template for the ModifyPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <form #MPForm="ngForm">
    <ion-item>
    <ion-label floating>
      请输入旧密码
    </ion-label>
    <ion-input name="password" type="password" required pattern="^(?=.{6,16})[0-9A-Za-z]*[^0-9A-Za-z][0-9A-Za-z]*$" [(ngModel)]="oldpassword" #password="ngModel"></ion-input>
    </ion-item>
    <ion-item *ngIf="password.invalid && password.touched">
      <p [hidden]="!password.errors?.required">请输入旧密码</p>
      <p [hidden]="!password.errors?.pattern">您输入的密码格式不正确，长度应为6至16位，至少包含数字、英文、符号三种字符类型中的两种</p>
    </ion-item>
    <ion-item>
    <ion-label floating>
      请输入新密码
    </ion-label>
    <ion-input name="password" type="password" required pattern="^(?=.{6,16})[0-9A-Za-z]*[^0-9A-Za-z][0-9A-Za-z]*$" [(ngModel)]="newpassword" #password="ngModel"></ion-input>
    </ion-item>
    <ion-item *ngIf="password.invalid && password.touched">
      <p [hidden]="!password.errors?.required">请输入新密码</p>
      <p [hidden]="!password.errors?.pattern">您输入的密码格式不正确，长度应为6至16位，至少包含数字、英文、符号三种字符类型中的两种</p>
    </ion-item>
    <ion-item>
    <ion-label floating>
      请再输入一次新密码
    </ion-label>
    <ion-input name="confirmPassword" type="password" required [(ngModel)]="newconfirmPassword" #confirmPassword="ngModel"></ion-input>
    </ion-item>
    <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched">
      <p [hidden]="!confirmPassword.errors?.required">请再输入一次新密码</p>
      <p [hidden]="password!=confirmPassword">两次输入的密码不一致</p>
    </ion-item>
    <div padding>
      <button type="submit" ion-button block color="primary" (click)="mped()" [disabled]="MPForm.invalid">确定</button>
    </div>
  </form>
</ion-content>
