<!--
  Generated template for the AddProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>新增商品</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list>
    <ion-item>
      <!--<ion-thumbnail item-start>-->
        <!--<img src="assets/images/supplier_icon.png">-->
      <!--</ion-thumbnail>-->
      <img style="max-width: 70px;max-height: 70px;" (click)="choose()" src="assets/images/supplier_icon.png" *ngIf="product.images.length < 3">
      <img style="max-width: 70px;max-height: 70px;" [src]="image" alt="" *ngFor="let image of product.images" >
      <!--<p item-end>上传图片</p>-->
      <button ion-button (click)="choose()" item-end clear color="dark" *ngIf="product.images.length < 3"><p>上传图片</p></button>
    </ion-item>
    <button ion-item [navPush]="categoryListPage">
      <h2>分类<span class="star-text">*</span></h2>
      <ion-note item-end>{{product.categoryName}}</ion-note>
    </button>
    <ion-item>
      <ion-label>条码</ion-label>
      <ion-input type="text" placeholder="输入商品条码" name="barcode" [(ngModel)]="product.barcode" #barcode="ngModel"></ion-input>
      <button ion-button clear icon-only item-end (click)="scanBarcode()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>名称<span class="star-text">*</span></h2>
      </ion-label>
      <ion-input name="name" [(ngModel)]="product.name" type="text" placeholder="输入商品名称" #name="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>售价<span class="star-text">*</span></h2>
      </ion-label>
      <ion-input name="price" type="number" placeholder="输入商品售价" [(ngModel)]="product.price" #price="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>进价</ion-label>
      <ion-input name="bid" type="number" placeholder="输入商品进价" [(ngModel)]="product.bid" #bid="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>库存</ion-label>
      <ion-input name="category" type="text" placeholder="输入商品库存" [(ngModel)]="product.stock" #category="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>规格</ion-label>
      <ion-input name="spec" type="text" placeholder="输入商品规格" [(ngModel)]="product.spec" #spec="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>备注</ion-label>
      <ion-input name="remark" type="text" placeholder="输入商品备注" [(ngModel)]="product.remark" #remark="ngModel"></ion-input>
    </ion-item>
    <button ion-item (click)="showPrompt()">
      供应商
      <ion-note>商品供应商</ion-note>
    </button>
  </ion-list>
</ion-content>
<ion-footer class="footer-background">
  <ion-grid no-padding style="position:fixed;bottom: -4px;left: 0px;right: 0px">
    <ion-row no-padding>
      <ion-col no-padding>
        <button  color="primary" ion-button full (click)="ok()">完成</button>
      </ion-col>
      <ion-col no-padding>
        <button  color="darkblue" ion-button full (click)="continue()">继续添加</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
